<% @page_title = "ブログ記事の編集" %>
<h1><%= @page_title %></h1>

<ul class="toolbar">
  <%= menu_link_to "記事の表示に戻る", @entry %>
  <%= menu_link_to "画像の追加", [:new, @entry, :image] %>
</ul>

<%= form_for @entry do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>
