<% @page_title = @member ? @member.name + "さんのブログ" : "会員のブログ" %>
<h1><%= @page_title %></h1>

<% if current_member %>
  <ul class="toolbar">
    <%= menu_link_to "ブログ記事の作成", :new_entry %>
    <%= menu_link_to "投票した記事", :voted_entries %>
  </ul>
<% end %>

<% if @entries.present? %>
  <% @entries.each do |entry| %>
    <h2><%= entry.title %></h2>
    <p><%= truncate(entry.body, length: 80) %>
      <%= link_to "もっと読む", entry %></p>
    <%= render "footer", entry: entry %>
  <% end %>
  <%= paginate @entries %>
<% else %>
  <p>記事がありません。</p>
<% end %>
