<% @page_title = "ニュース一覧" %>
<h1><%= @page_title %></h1>

<% if current_member %>
<p><%= link_to "新規作成", :new_admin_article %></p>
<% end %>

<% if @articles.present? %>
  <table class="list">
    <tr>
      <th>タイトル</th>
      <th>日時</th>
      <% if current_member %><th>操作</th><% end %>
    </tr>
    <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td><%= article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
      <% if current_member %>
      <td>
        <%= link_to "編集", [:edit, :admin, article] %> |
        <%= link_to "削除", [:admin, article], method: :delete,
          data: { confirm: "本当に削除しますか?" } %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @articles %>
<% else %>
<p>ニュースがありません。</p>
<% end %>
