<% @page_title = @article.title %>
<h1><%= @article.title %></h1>

<p><%= link_to "編集", [:edit, :admin, @article] %></p>

<table class="attr">
  <tr>
    <th width="100">タイトル</th>
    <td><%= @article.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@article.body) %></td>
  </tr>
  <tr>
    <th>掲載開始日時</th>
    <td><%= @article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>掲載終了日時</th>
    <td><%= @article.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>会員限定</th>
    <td><%= @article.member_only? ? "○" : "－" %></td>
  </tr>
</table>
