<%= render "shared/errors", obj: @member %>

<table class="attr">
  <tr>
    <th><%= form.label :number %></th>
    <td><%= form.text_field :number, size: 8 %></td>
  </tr>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :full_name %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
  <tr>
    <th><%= Member.human_attribute_name(:sex) %></th>
    <td>
      <%= form.radio_button :sex, 1 %>
      <%= form.label :sex_1 %>
      <%= form.radio_button :sex, 2 %>
      <%= form.label :sex_2 %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :birthday, for: "member_birthday_1i" %></th>
    <td><%= form.date_select :birthday,
              start_year: 1940, end_year: Time.current.year,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :email %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <% if @member.new_record? %>
    <tr>
      <th><%= Member.human_attribute_name(:password) %></th>
      <td><%= form.text_field :password %></td>
    </tr>
  <% end %>
  <% if controller.kind_of?(MembersController) %>
    <tr>
      <th><%= Member.human_attribute_name(:administrator) %></th>
      <td>
        <%= form.check_box :administrator %>
        <%= form.label :administrator %>
      </td>
    </tr>
  <% end %>
</table>
