<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "ニュース", :articles %>
    <%= menu_link_to "ブログ", :entries %>
    <% if current_member %>
      <%= menu_link_to "会員名簿", :members %>
      <% if current_member.administrator? %>
        <%= menu_link_to "管理ページ", :admin_root %>
      <% end %>
    <% end %>
  </ul>
</nav>
